@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:;
    
}
.container {
    max-width: 1200px;
    margin:0 auto;
    /* padding: 0 50px; */
    
}

/* header and nav start */
nav {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100px;
}
.nav-menu li {
    list-style-type: none;
    padding: 5px 15px;
    transition: .7s;
}
.nav-menu li:hover {
    background-color: black ;
}
.nav-menu li:hover a {
    color: white;
}
.nav-menu li a {
    text-decoration: none;
    color: black;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Banner start */
.banner {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    justify-content: space-between;
    max-height: calc(100vh- 100px);
    margin-bottom: 100px;
}

.banner-right {
    display: flex;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.banner-right:hover img {
    transform: scale(1.1);
    transition: .7s ease-in-out;

}

.banner-left h1 {
    font-size: 40px;
    line-height: 55px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner-left p {
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 10px 15px;
    background-color: #E02C6D;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
.button:hover {
    background-color: black;
}
/* logo start */

.logo-container {
    border: 0.2px solid lightgray;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px lightgray;
}

/* Porduct section */

/* .product-container{
    max-width: 1000px;
    margin: 0 auto;
} */

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    /* grid-column-gap: 30px; */
}
.product {
    width: 320px;
    height: 410px;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-radius: 7px;
}.product-details h3 {
    margin: 10px 8px 0 0;
    text-transform: capitalize;
}
/* font awesome */
.icon{
    font-size: 10px;
    color: #FB8200;
}

.worldwideshipping {
    font-size: 10px;
    margin-top: 10px;
}
.see-more {
    text-align: right;
    
    margin: 40px 0px;
}
#btn {
    border: none;
    background-color: white;
    color: #E02C6D;
    font-weight: 700;
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 150px;
    
}
.footer p {
    font-size: 12px;
    margin: 5px 0;
} 
/* font-awesome icons for footer */
.footer-icons i {
    margin: 15px;
}

/* nav-menu-toggler */
#nav-menu-toggler {
    display: none;
}
.toggler-icon {
    display: none;
}


/* Responsive Css */


@media (max-width:768px) {
    
    /*---------- banner section ------------- */
    
    .banner {
        
        grid-template-columns: 1fr;
    }
    .banner-left {
        text-align: center;
    }
    .banner-right {
        justify-content: center;
        align-items: center;
        background-position: center;
    }


    
    /* product section */
    .products {
        grid-template-columns: 1fr 1fr;
        margin-left: 30px;
        
    }
    .product-container {
        
    }
    
}
@media (max-width:480px) {
     
    .banner {
        grid-template-columns: 1fr;
    }
    .banner-left {
        
        text-align: center;
        order: 2;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1em; */
        
    }
    .banner-left h1{
        font-size: 30px;
    }
    .banner-right {
        justify-content: center;
        align-items: center;
        background-position: center;
        order: 1;
    }
    
    .logo-container {
        margin-left: 30px;
    }
    
    
    
    /* product section */

    .product {
        
        /* border: 1px solid black; */
        
    }
    
    .products {
        
        /* grid-template-columns: 1fr; */
        /* margin-left: 30px; */
        /* border: 1px solid black; */
        /* margin: 0 auto; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
}


