@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/* header and nav start */
nav {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100px;
}
.nav-menu li {
    list-style-type: none;
}
.nav-menu li a {
    text-decoration: none;
    color: black;
    
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Banner start */
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-between;
    max-height: calc(100vh- 100px);
    margin-bottom: 100px;
}

.banner-right {
    display: flex;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.banner-left h1 {
    font-size: 40px;
    line-height: 55px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner-left p {
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 10px 15px;
    background-color: #E02C6D;
    color: white;
}
/* logo start */

.logo-container {
    border: 0.2px solid lightgray;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px lightgray;
}

/* Porducts */

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.product {
    /* border: 2px solid lightgray; */
    width: 320px;
    height: 410px;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-radius: 7px;
}.product-details h3 {
    margin: 10px 8px 0 0;
}
.icon{
    font-size: 10px;
    color: #FB8200;
}
.worldwideshipping {
    font-size: 10px;
    margin-top: 10px;
}


